.main-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease ;
    background-color: #EDEBEB;
    position: absolute;
    width: 100%;
    
}


.main-div-mobile{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    opacity: 1;
    transition: opacity 1s ease ;
    background-color: #EDEBEB;
    height: 100%;
}

@starting-style{
    .main-div{
    opacity: 0;
    }
    .main-div-mobile{
        opacity: 0;
        }
    .main-image{
        opacity: 0;
    }
}
.main-title{
    margin: 50px 0px 10px 0px;
    color: black;
    font-size: 45px;
    font-weight: 1000;
}

.main-title-mobile{
    margin: 30px 0px 10px 0px;
    color: black;
    font-size: 28px;
    font-weight: 1000;
}
.main-subtitle{
    color:black;
    font-size: 14px;
    font-weight: 200;
}

.main-input-field{
    margin-top: 20px;
}

.input-field-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field-div-inner{
    display: flex;
    flex-direction: row;
}
.input-field-div-btn{
    justify-content: center;
    
}


.input-field-btn{
    width: 160px;
    height: 40px;
    color: black;
    border: 1px solid darkgray;
    background-color: #AAB2A8;
    border-radius: 20px;
    font-weight: 500;
}

.main-img-div{

}

.main-image{
    width: 700px;
    opacity: 1;
    transition: opacity 10s ease ;
    margin-top: -30;
}

.main-image-moblie{
    width: 350px;
    opacity: 1;
    transition: opacity 10s ease ;
    /* margin-top: -30; */
}

.search-form-div{
    position: relative;
    margin: 40px 0px 0px 5%;
    display: flex;
    width: 250px;
    height: 350px;
    right: 0px;
    background-color: #D9D9D9;
    flex-direction: column;
    text-align: left;
}

.search-form-choice{
    display: flex;
    flex-direction: row;

}
.search-form-title{
    padding: 10px 0px 10px 7px;
}
.search-form-choice-div{
    
    width: 49.5%;
    margin-right: 0.5%;
    background-color: azure;
    padding: 5px;
}
.search-form-div ul{
    padding: 0px;
    margin: 0px;
}
.search-form-div li{
    padding: 2px;
}

.main-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
}