.main-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease ;
    background-color: #EDEBEB;
    height: 100%;
}


.main-div-mobile{
    display: flex;
    width: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    opacity: 1;
    transition: opacity 1s ease ;
    background-color: #EDEBEB;
    height: 100%;
}

@starting-style{
    .main-div{
    opacity: 0;
    }
    .main-div-mobile{
        opacity: 0;
        }
    .main-image{
        opacity: 0;
    }
}
.main-title{
    margin: 50px 0px 10px 0px;
    color: black;
    font-size: 45px;
    font-weight: 1000;
}

.main-title-mobile{
    margin: 30px 0px 10px 0px;
    color: black;
    font-size: 30px;
    font-weight: 1000;
}
.main-subtitle{
    color:black;
    font-size: 16px;
    font-weight: 200;
}

.main-input-field{
    margin-top: 20px;
}

.input-field-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field-div-inner{
    display: flex;
    flex-direction: row;
}
.input-field-div-btn{
    justify-content: center;
    
}


.input-field-btn{
    width: 160px;
    height: 40px;
    /* background-color: #A9A9A9; */
    color: black;
    border: 1px solid darkgray;
    background-color: #AAB2A8;
    border-radius: 20px;
}

.main-img-div{

}

.main-image{
    width: 700px;
    opacity: 1;
    transition: opacity 10s ease ;
    margin-top: -30;
}

.main-image-moblie{
    width: 600px;
    opacity: 1;
    transition: opacity 10s ease ;
    margin-top: -30;
}